/*
======================
Main Colors
======================
*/
$white: #fff;
$navTextHover: #fff;
$navText: yellow;
$main: #222;
$black: #000;
$secmainclr: #a7372b;
$navScrolled: #222;
$clrbtn: #eee;
$clrbtntx: #222;
$blurclr: #999;
$smFont: 14px;
$smClr: #4f4f4f;
$facebookClr: #3b5998;
$twitterClr: #00b2ff;
$instaClr: #cd201f;
$youtubeClr: #cd201f;
$linkedInClr: #0e76a8;
$googlePlusClr: #db4a39;
